<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>628278228628-lpv8vg0ckjpfa0kn8mn8lu3sqh7c8if7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628278228628-lpv8vg0ckjpfa0kn8mn8lu3sqh7c8if7</string>
	<key>API_KEY</key>
	<string>AIzaSyACx6i_JT5hsUkfHqLeYnadCMtv9gyzeBU</string>
	<key>GCM_SENDER_ID</key>
	<string>628278228628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goodguycoderz.wtf</string>
	<key>PROJECT_ID</key>
	<string>wtriviaf</string>
	<key>STORAGE_BUCKET</key>
	<string>wtriviaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628278228628:ios:68b2badd2ea4692e</string>
	<key>DATABASE_URL</key>
	<string>https://wtriviaf.firebaseio.com</string>
</dict>
</plist>